.Container-Main{
    padding: 0;
}

.Container-Controles{
    display: flex;
    flex-direction: row;
    padding: 10px 17px;
    gap: 10px;
}
.Container-Dex{
    width: auto;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    background-color: bisque;
    gap: 10px;
}